# Backend
*.log
*.bak
*.tmp

venv/
backend/settings/.env
backend/settings/.env.sample

__pycache__/
*.py[cod]
*.sqlite3

.pylintrc
.coveragerc

static/
media/

backend/Dockerfile
backend/Procfile

# Frontend
Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.next
.git
.env
.env.sample

# Global
bearer.ignore
.github